VITE_API_URL=https://koreandummyjson.vercel.app

VITE_TMDB_URL=https://api.themoviedb.org/3
VITE_TMDB_TOKEN=<token>
VITE_TMDB_READ_ACCESS_TOKEN=<read_acces_token>
VITE_TMDB_IMAGE_URL=https://image.tmdb.org/t/p
VITE_TMDB_LINK=https://www.themoviedb.org/movie