VITE_BASE_NAME = 포케닷 (Pokedot)

VITE_AUTH_API_BASE_URL =  https://koreandummyjson.vercel.app

# mockapi.io 서비스 활용 (https://mockapi.io)
VITE_POKEMON_API_URL = https://<mockapi-id>.mockapi.io/api/v1
VITE_COLLECTION_API_URL = https://<mockapi-id>.mockapi.io/api/v1
VITE_LOCAL_COLLECTION_KEY = <mockapi-pokemon-collection-naem>